html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#page1{
  background-image: url("https://images.unsplash.com/photo-1474905187624-b3deaf7aa4c2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=cffce70c0b1582990361490bb8091593");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#map2{
  width:100%;
  height:50%;
}
#map {
  height: 50%;
  width:50%;
  margin: 0 auto;
  margin-top:5%;
  z-index: 1;
}
#pac-input{
  margin-top: 15px;
}
#map_canvas {
    margin:0 auto;
    height:100%;
}
#tagInfo, .filters{
  /*-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;*/
  color:black;
  font-size: 1.5em;
  border-bottom: 1px solid #03a9f4;
  -webkit-box-shadow: 0 1px 0 0 #03a9f4;
  -moz-box-shadow: 0 1px 0 0 #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: blue;
  opacity: 0.5;
}
.filter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: blue;
  opacity: 0.5;
}
#buttonDiv{
  margin-top:3%;
}
#buttonAnchor{
  color:white;
}
.card-image {
}
#page2{
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#image-container{
  height:90%;
  width:90%;
  position: absolute;
  left:7%;
  top:12%;
}
#white-container{
  height:100%;
  width:100%;
}
#click-me{
  color:#03a9f4;
  margin: 0 auto;
  font-size: 30px;
  color:#03a9f4;
  position: absolute;
  left:40%;
  bottom:51%;
  z-index: 10;
}
.images{
  height:250px;
  width:300px;
  border-radius: 5px;
}
#slide-out{
  background-image: url("https://hd.unsplash.com/photo-1425342605259-25d80e320565");
  background-size: 100% 100%;
}
.menu{
  color:white;
}
.labels{
  color:white;
  font-size: 1.5em;
}
.controls {
     margin-top: 10px;
     border: 1px solid transparent;
     border-radius: 2px 0 0 2px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     height: 32px;
     outline: none;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   }

   #pac-input {
     background-color: #fff;
     font-family: Roboto;
     font-size: 15px;
     font-weight: 300;
     margin-left: 12px;
     padding: 0 11px 0 13px;
     text-overflow: ellipsis;
     width: 300px;
   }

   #pac-input:focus {
     border-color: #4d90fe;
   }

   .pac-container {
     font-family: Roboto;
   }

   #type-selector {
     color: #fff;
     background-color: #4d90fe;
     padding: 5px 11px 0px 11px;
   }

   #type-selector label {
     font-family: Roboto;
     font-size: 13px;
     font-weight: 300;
   }
   #target {
     width: 345px;
   }
