html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#page1{
  background-image: url("https://images.unsplash.com/photo-1474905187624-b3deaf7aa4c2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=cffce70c0b1582990361490bb8091593");
  background-size: 100% 100%;
}
#map {
  height: 50%;
  width:50%;
  margin: 0 auto;
  margin-top:5%;
}
#pac-input{
  margin-top: 15px;
}
#map_canvas {
    margin:0 auto;
    height:100%;
}
#tagInfo{
  color:#EB933F;
  font-size: 1.5em;
}
#buttonDiv{
  margin-top:3%;
}
#buttonAnchor{
  color:white;
}
